@media (width>=786px) {
	.margin-left {
		max-width: 1200px;
		margin: 0 100px;
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 100px;
	}

	.home {
		width: 80px;
	}

	.section-title {
		font-size: 6.2rem;
	}

	.nav {
		&__links-desktop {
			margin-left: 50px;
		}
	}

	.header {
		&__title {
			font-size: 5.6rem;
		}

		&__p {
			font-size: 2.2rem;
		}

		&__btn {
			margin-top: 50px;
			padding: 25px 50px;
			font-size: 1.8rem;
		}
	}

	.footer {
		flex-direction: row;
		margin: 0 auto;
		width: 800px;
		height: 200px;

		&__title-box {
			position: absolute;
			left: 0;
			top: 50%;
			height: 200px;
			width: 200px;
			background-color: #000;
			transform: translateY(-50%);
		}

		&__title {
			top: 50%;
			left: 100px;
			transform: translate(-50%, -50%);
			padding: 0;
			font-size: 3.4rem;
		}

		&__links {
			position: absolute;
			top: 25%;
			left: 300px;
			flex-direction: row;
		}

		&__link {
			padding: 10px 30px;
			font-size: 2rem;
		}

		&__btn {
			position: absolute;
			margin-top: 0;
			top: 70%;
			right: 25%;
			transform: translateY(-50%);
		}
	}

	.contact-header {
		&__background-text {
			position: absolute;
			top: -10%;
			right: 0;
			font-size: 15rem;
			z-index: 10;
		}

		&__text-box {
			position: absolute;
			padding: 5%;
			top: 30%;
			right: 0;
			width: 60%;
			height: 100%;
			background-color: #fff;
			align-items: flex-start;
			.section-title {
				font-size: 4.2rem;
				text-align: left;
			}

			&--text {
				width: 100%;
				text-align: left;
			}
		}
	}

	.contact-details {
		flex-direction: row;
		justify-content: space-around;
		padding: 100px 0;

		.section-title {
			font-size: 4.8rem;
			margin-right: 50px;
		}

		.office-box {
			padding: 5%;
			width: 600px;
			font-size: 1.8rem;
		}
	}
	.maps {
		flex-direction: row;
	}

	.form {
		flex-direction: row;
		justify-content: space-between;
		&__title {
			font-size: 5.6rem;
			margin-right: 50px;
		}

		&__form {
			width: 1000px;
		}
	}
}
