@media (width>976px) {
	.welcome {
		position: relative;
		display: flex;

		.box-text {
			width: 50%;
			text-align: left;
		}

		&__text {
			max-width: 500px;
		}

		&__img {
			position: absolute;
			display: block;
			right: 0;
			width: 45%;
			max-height: 600px;
		}
	}

	.about-us {
		&__box {
			width: 400px;
		}
	}

	.featured {
		padding: 100px 0;
		&__cards {
			display: flex;
			flex-direction: row;
			margin-top: 50px;
		}

		&__card {
			height: 500px;
			margin: 0 1%;

			&:nth-child(1) {
				margin-left: 0;
			}

			&:nth-child(3) {
				margin-right: 0;
			}

			&--number {
				top: 0;
				transform: translateY(0);
			}
		}
	}

	.footer {
		width: 800px;

		&__links {
			left: 250px;
			top: auto;
		}
		&__btn {
			top: 50%;
			right: -100px;
		}
	}

	.contact-header {
		&__background-text {
			font-size: 18rem;
			top: -5%;
		}

		&__text-box {
			top: 10%;
			padding: 3% 5%;

			.section-title {
				font-size: 5.6rem;
			}
		}
	}
}
