@media (width>=1400px) {
	.margin-left {
		margin: 0 auto;
	}

	.wrapper {
		margin: 0 auto;
	}

	.home {
		width: 10%;
	}

	.header {
		&__title {
			font-size: 7.6rem;
			margin-bottom: 30px;
		}
	}

	.footer {
		width: 1000px;
	}
}
